
h1 {text-align: center;
  color: red;}

h2 {text-align: center;}
 u {text-decoration: underline;}

p 
    {color: green;
      font-family:tahoma;} 
}

ul { 
   font-style: italic; 
}

ol { 
   font-weight: bold;
   font-size:1.6em;
} 
